MONGO_DB_URI=
TEST_DB=
GoogleClientSecret=
HashString=
AllowUrl={"urls": ["http://localhost:9000", "https://localhost:9000", "http://localhost:7000", "https://localhost:7000"]}
PORT=7000
AuthProductionBaseURL=
BackendUrl=''
NODE_ENV=development
GoogleClientId=
userRoles={"roles" : ["Role1", "Role2"]}
SENDGRID_API_KEY=
SENDGRID_PASSWORD=
SENDGRID_USERNAME=
BUILD_BRANCH=main
TINY_KEY=
AUTH_ROLES={"blog":["userType1","userType2"],"user":["userType1", "userType2"]}
